spring:
  application:
    name: order-service
  cloud:
    config:
      override-none: true    #表示配置文件的端口不覆盖yml文件启动端口  
    
server:  port: 8201
  
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka

feign:  hystrix:    enabled: true
    
management:  endpoints:    web:      exposure:        include: hystrix.stream
